body {
  margin: 0;
  padding: 0;
}

.drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-height: 50vh;
  max-width: 50vw;
  margin-top: 10rem;
  margin-left: 20rem;
  background: rgb(51, 46, 46);
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.keyboard {
  /* background: crimson; */
  max-height: inherit;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px 0px 0px 5px;
}

.controller {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0px 5px 5px 0px;
}

.btn-key-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background: chartreuse; */
}
.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border: none;
  box-shadow: 1px 1px 2px black;
  border-radius: 5px;
  font-size: 2rem;
  background: rgb(59, 184, 233, 0.8);
}

.onOff,
.change-sound {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 1px 1px 3px whitesmoke;
}

.volume,
.kit-type {
  color: antiquewhite;
}
